/*ml, body{
  background: url("http://www.intrawallpaper.com/static/images/1582350.jpg");
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}*/

body{
  margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css?family=Bitter|Inconsolata|McLaren|Muli|Oldenburg|PT+Sans|Patua+One|Roboto+Slab|Ubuntu');

.flex{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height:35em;
  border:2px solid black;
  
}

#quote{
  border:2px solid green;
  margin-left:10%;
  margin-right:10%;
  font-family:McLaren;
  margin-bottom:10%;
  font-size:1em;
  height:4em;
  color:white;
}


#flexTwo{
  border:1px solid red;
  margin-left:20%;
  font-family:Bitter;
  height:10vh;
  
}

#change{
  margin-top:50px;
}

#backgroundImage{
  display:flex;
  height:100%;
  width:100%;
  position:absolute;
  z-index:-1;
  top:0;
  
}

#backgroundImage img{
  width:100%;
}