@import url('https://fonts.googleapis.com/css?family=Bitter|Inconsolata|McLaren|Muli|Oldenburg|PT+Sans|Patua+One|Roboto+Slab|Ubuntu');

body{
  margin: 0 auto;
}
#backgroundImage{
  display:flex;
  height:100%;
  width:100%;
  position:absolute;
  z-index:-1;
  top:0;
}

#backgroundImage img{
  width:100%;
}



.flex{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height:35em;  
}

#quote{
  margin-left:10%;
  margin-right:10%;
  margin-bottom:10%;
  font-size:1.4em;
  height:4em;
  color:white;
  position:relative;
  
}

#quoteText{
  font-family:Muli;
  position:relative;
  z-index:1;
}

#black{
  background:black;
  height:100%;
  width:100%;
  top:0;
  position:absolute;
  opacity:0.65;
  border-radius:5px;
}


#flexTwo{
  margin-left:20%;
  font-family:Bitter;
  height:10vh;
}

#change{
  margin-top:60px;
  border-radius:5px;
  font-family:McLaren;
  font-size:1em;
}

#twitter{
  margin-top:30px;
}

#twitterstyle{
background:#4099FF;
  border-radius:5px;
  color:white;
  display:flex;
  align-items: center;
  font-family:Mclaren;
}
a{
  text-decoration:none;
}

#twitterpng{
  width:18px;
  height:18px;
}
